:root {
  --color-white: #f4f5f9;
  --color-gray: #ebedf1;
  --color-dark-gray: #dddfe6;
  --color-black: #252c41;
  --color-point-red: #f1404b;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}

i {
  color: var(--color-black)
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

#root {
  height: 100vh;
  background-color: var(--color-white);
}

header {
  background-color: var(--color-black);
  padding: 5px 20px;
  height: 45px;
}

header>h1 {
  color: var(--color-white);
  margin: 0;
  font-size: 25px;
}

button {
  margin: 0;
  padding: 0;
  font-size: 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  width: 100%;
  margin: 10px 0;
  border: 1.5px solid var(--color-black);
  border-radius: 2px;
}

.board {
  display: flex;
  overflow-x: auto;
  height: calc(100vh - 45px);
  padding: 15px;
}

.list-wrapper {
  height: 100%;
}

.list-content {
  background-color: var(--color-gray);
  border-radius: 2px;
  width: 300px;
  padding: 10px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
  margin: 5px;
  cursor: pointer;
}

.list-header {
  margin: 0 0 10px;
}

.list-header>h2 {
  font-size: 16px;
  color: var(--color-black)
}

.list-content>ul>.card {
  margin: 10px 0;
  border-radius: 2px;
  box-shadow: 1px 1px 5px 0 rgba(98, 72, 122, 0.3);
  background-color: var(--color-white);
  padding: 5px;
}

.list-content>ul>.card>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-content>ul>.card>i {
  display: block;
}

.list-content>ul>.card>div>span {
  font-size: 12px;
  color: var(--color-black)
}

.list-content>ul>.card>div>i {
  font-size: 12px;
  visibility: hidden;
}

.list-content>ul>.card:hover {
  background-color: var(--color-dark-gray);
}

.list-content>ul>.card:hover>div>i {
  visibility: visible;
}


.list-content>.list-footer {
  margin: 10px 0 0;
  color: var(--color-black);
}

.list-content>.list-footer:hover {
  background-color: var(--color-dark-gray);
}

.list-content>.list-footer>.add-card-btn {
  color: var(--color-point-red);
}

.empty {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: var(--color-black);
  font-weight: 500;
}

.empty:hover {
  background-color: var(--color-gray);
}

.add-list {
  cursor: auto;
}

form>button[type="submit"] {
  padding: 5px;
  border-radius: 2px;
  color: var(--color-white);
  background-color: var(--color-black);
}

form>.close {
  margin-top: 4px;
}

form>input {
  margin-top: 0;
  margin-bottom: 5px;
}